@{
    ViewBag.Title = "About 'When Is It On'";
}
<h1>@ViewBag.Title</h1>
<h3>Want to know when the new series of your favourite show is next on UK TV? 
    Wonder when that movie you love is going to be shown again?
    Let us do the searching for you.</h3>

<h3><b>'When Is It On'</b> is a new service that will search published schedules for all UK TV channels.
    If the show or movie you're interested in isn't on in the next two weeks, give us your
    email address and we'll inform you before it is next shown so you don't miss it.</h3>

<h3>...and it's all free!</h3>

<br />
<br />
@Html.ActionLink("New Search", "Index", "Home", new { @class = "btn btn-primary btn-lg" })


