@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $('input:text:first').focus();
    })
</script>
}

<div class="jumbotron">
    <h1>When is it on?</h1>
    <p class="lead">Want to know when your favourite TV show or film is on UK television? Let us do the work for you. Enter the title of item you're interested in and we'll notify you when it's next on so you don't miss it.</p>
    <p>@Html.ActionLink("Find out more", "About", "Home", new { @class = "btn btn-primary btn-lg" } )
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Start your search here</h2>
        @using (Html.BeginForm("Search", "Home"))
        {
            @Html.TextBox("searchText", "", new { @class = "input-lg" })
            <input type="submit" value="Search" class="btn btn-primary btn-lg" />
        }
    </div>
</div>