<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WhenIsItOn" connectionString="mongodb://localhost" />
  </connectionStrings>
  <appSettings>
    <add key="emailUsername" value="tba"/>
    <add key="emailPassword" value="tba"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>